<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
  <div class="field">
    <div class="field-body">
      <div class="field is-narrow">
        <p class="controll">
          <input type="number" required name="amount" style="width : 100px" class="input" placeholder="amount" [ngModel]="item.amount">
        </p>
      </div>
      <div class="field">
        <p class="controll">
          <input type="text" required name="description" class="input" placeholder="description" [ngModel]="item.description">
        </p>
      </div>

      <div class="field is-narrow">
        <button type="submit" class="button" [ngClass]="{ 'is-primary': isNewItem, 'is-success': !isNewItem }" [disabled]="!itemForm.valid">
        <p *ngIf="isNewItem">Add</p>
        <p *ngIf="!isNewItem">Save</p>
      </button>
      </div>
      
    </div>
  </div>
</form>
