<form>
  <div class="field">
    <div class="field-body">
      <div class="field is-narrow">
        <p class="controll">
          <input type="number" style="width : 100px" class="input" placeholder="amount">
        </p>
      </div>
      <div class="field">
        <p class="controll">
          <input type="text" class="input" placeholder="description">
        </p>
      </div>

      <div class="field is-narrow">
        <button class="button is-primary">Add</button>
      </div>
    </div>
  </div>
</form>
